<div class="visible-xs hidden-sm hidden-md hidden-lg">
	<table class="table">
		<tbody>
			<tr>
				<td class="col-xs-2">{{ race.date }}</td>
				<td class="col-xs-4"><strong>{{ race.details.race_type | uppercase }}</strong> | ${{ race.details.value }}</td>
				<td class="col-xs-1 runner-pos" rowspan="2">{{ race.runners.pos }}</td>
				<td class="col-xs-3 runner-horse-sm" rowspan="2">{{
					race.runners.horse
				}}</td>
				<td class="col-xs-2 RRtg-box" rowspan="2"><span class="rcapperRtg">{{ race.runners.RRtg | number: 0 }}</span></td>
			</tr>
			<tr>
				<td>{{ race.race }}</td>
				<td>{{ race.details.dist}}f | {{ race.details.surf }}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="visible-md visible-lg visible-sm hidden-xs">
	<table class="table" style="border: 1px solid #D9220F">
		<tbody>
			<tr>
				<td class="col-sm-2 col-md-1 col-lg-1"><span class="race-date">{{ race.date }}</span></td>
				<td class="col-sm-4 col-md-3 col-lg-3"><span class="race-class">{{ race.details.race_type | uppercase }}</span> | <span class="race-class">{{ race.details.value | currency: undefined : 0 }}</span></td>
				<td class="col-sm-2 col-md-2 col-lg-2 trainer-jockey hidden-sm"><strong>T: </strong><span>{{ race.runners.trainer }}</span></td>
				<td class="col-sm-1 col-md-1 col-lg-1 runner-pos" rowspan="2">
					{{ race.runners.pos }}
				</td>
				<td class="col-sm-3 col-md-3 col-lg-3 runner-horse" rowspan="2">{{ race.runners.horse }}</td>
				<td class="col-sm-1 col-md-1 col-lg-1">{{ race.runners.fintime }}</td>
				<td class="col-sm-1 col-md-1 col-lg-1 RRtg-box" rowspan="2"><span class="rcapperRtg">{{ race.runners.RRtg | number: 0 }}</span></td>
			</tr>
			<tr>
				<td>
					<span class="race-no">Race #{{ race.race }}</span>
				</td>
				<td>
					<span class="race-dist">{{ race.details.dist }}f</span>
					| <span class="race-dist">{{ race.details.surf }}</span>
				</td>
				<td class="trainer-jockey hidden-sm"><strong>J: </strong>{{ race.runners.jockey}} <sup class="text-muted">{{ race.runners.j_clm }}</sup></td>

				<td>{{ race.runners.fs2f | number: 3 }}{{ race.runners.fs2_5f | number: 3 }}</td>
			</tr>
		</tbody>
	</table>
</div>
