<p><em>Last Updated 2015-08-28</em></p>
<div id="f-turf" class="section level1">
<h1>11f Turf</h1>
<p>This is the track profile for all 11 furlong turf races at Gulfstream Park, there are <strong>14</strong> races in the dataset, contested by <strong>115</strong> runners. The oldest race in the dataset was run on <strong>2012-12-22</strong> while the most recent was run on <strong>2015-02-21</strong>.</p>
<p>A full profile for 11 furlong races will be up shortly.</p>
</div>
<div id="f-turf-1" class="section level1">
<h1>11.5f Turf</h1>
<p>This is the track profile for all 11.5 furlong turf races at Gulfstream Park, there are <strong>12</strong> races in the dataset, contested by <strong>114</strong> runners. The oldest race in the dataset was run on <strong>2012-12-26</strong> while the most recent was run on <strong>2015-04-04</strong>.</p>
<p>A full profile for 11.5 furlong races will be up shortly.</p>
</div>
<div id="f-turf-2" class="section level1">
<h1>12f Turf</h1>
<p>This is the track profile for all 12 furlong turf races at Gulfstream Park, there are <strong>14</strong> races in the dataset, contested by <strong>130</strong> runners. The oldest race in the dataset was run on <strong>2013-01-19</strong> while the most recent was run on <strong>2015-05-25</strong>.</p>
<p>A full profile for 12 furlong races will be up shortly.</p>
</div>
