<p><em>Last Updated 2014-11-17</em></p>
<div id="dirt" class="section level1">
<h1>Dirt</h1>
<p>This is the track profile for all 7.5 furlong dirt races at Gulfstream Park, there are <strong>2</strong> races in the dataset, contested by <strong>15</strong> runners. The oldest race in the dataset was run on <strong>2013-12-28</strong> while the most recent was run on <strong>2013-12-29</strong>.</p>
</div>
<div id="turf" class="section level1">
<h1>Turf</h1>
<p>This is the track profile for all 7.5 furlong turf races at Gulfstream Park, there are <strong>84</strong> races in the dataset, contested by <strong>813</strong> runners. The oldest race in the dataset was run on <strong>2012-12-05</strong> while the most recent was run on <strong>2014-04-13</strong>.</p>
<pre><code>## NULL</code></pre>
</div>
