<div class="container">
    <h1>About</h1>
    <p>This web app contains ratings for individual horses who have raced at Gulfstream Park from December 2012 onwards.</p>

    <p>Ratings have been created using data collected from a variety of sources. With the data collected, the bulk of the work has been carried out using the <strong><a href="http://cran.r-project.org/" target="_blank">R</a></strong> programming language and a package I created called <strong>RcappeR</strong>, which is now on <a href="https://github.com/durtal/RcappeR" target="_blank">github</a> for others to use, there are <a href="http://durtal.github.io/RcappeR" target="_blank">help pages</a> too.  I hope that ratings found here, and posts that will walk through my handicapping process will encourage others to use the package, offer suggestions, improvements, alternatives, and to share with other racing fans.</p>

    <p>It was June 2013 that I started to learn R on my old wordpress blog, I also knew very little HTML and CSS, just enough to highlight some clumsy R code (when I used to use <code>attach()</code>).  At the time I had no idea I would end up with a web app like this (which is still very much a work in progress).  I have taken advantage of a lot of open source software in the creation, storage, saving, building, and presentation of the ratings/analysis found in these pages.  The primary software I have used includes:</p>
    <ul>
        <li><strong><a href="http://cran.r-project.org/" target="_blank">R</a></strong> - programming language, I use <strong><a href="http://www.rstudio.com/">RStudio</a>,</strong></li>
        <li><strong><a href="http://git-scm.com/" target="_blank">Git</a></strong> - version control,
            <strong><a href="http://github.com" target="_blank">Github</a></strong> also hosts this app</li>
        <li><strong><a href="http://www.mongodb.org/" target="_blank">MongoDB</a></strong> - database</li>
        <li><strong><a href="http://angularjs.org" target="_blank">AngularJS</a></strong> - web app framework</li>
        <li><strong><a href="http://yeoman.io/" target="_blank">Yeoman</a></strong> - web app scaffolding tool,
            uses 2 more open source tools, <a href="http://gruntjs.com/" target="_blank">GruntJS</a> and
            <a href="http://bower.io/" target="_blank">Bower</a></li>
    </ul>

    <p>I also owe a couple of people a word of thanks, whether they knowingly, or unknowingly helped me, these are (in no particular order):</p>

    <ul>
        <li>Hadley Wickham (<a href="https://twitter.com/hadleywickham" target="_blank">@hadleywickham</a>) - author of many great R packages, some of which are vital to my <strong>RcappeR</strong> package, and the many excellent tutorials on building packages.</li>
        <li>Simon Rowlands (<a href="https://twitter.com/rowleyfiletf" target="_blank">@rowleyfiletf</a>) - many articles have helped build my interest in racing, my ratings utilise a method of race standardisation explained by Simon, which is included in my <strong>RcappeR</strong> package.</li>
        <li>Bob Wilkins - author of <a href="http://www.amazon.co.uk/Bioenergetics-Racehorse-Ratings-Bob-Wilkins/dp/0956424309" target="_blank">Bioenergetics and Racehorse Ratings</a> an excellent, but challenging, book.</li>
    </ul>

    <h3>Coming Soon</h3>

    <p>I hope to improve the content of this web app over time, learn more about AngularJS and <a href="http://d3js.org" target="_blank">D3</a> so I can make the presentation of the data more interesting.  Things I have planned include:</p>
    <ul>
        <li><strong>improve ratings</strong></li>
        <li>interactive visualisations using <a href="http://d3js.org" target="_blank">D3</a>, ratings distributions, counts, etc.</li>
        <li>custom racecards, I don't, and won't ever, have pre-race data (ie. entries) for races at Gulfstream, but it should be possible using AngularJS to allow users to build a custom race card using horses on this site</li>
        <li>weekly handicapping posts, looking at the most recent races, should also serve as vignettes for my <strong><a href="https://github.com/durtal/RcappeR" target="_blank">RcappeR</a></strong> package</li>
        <li>more specific, detailed, track profiles</li>
        <li>race previews</li>
    </ul>

    <h3>Get Involved</h3>

    <p>If anyone is interested in contributing, has any questions, ideas for features, visualisations, don't hesitate to get in touch via twitter or email (both listed below).</p>

    <p>Also, as this site is hosted by github, everything to re-create the site locally is available for others, simply fork the repo, and follow the steps below:</p>

    <ul>
        <li>Install <a href="http://www.nodejs.org" target="_blank">NodeJS</a></li>
        <li>Open terminal or command prompt</li>
        <li>navigate to directory of the forked repo (should be called <strong>gulfstream</strong>)</li>
        <li>run <code>npm install -g bower</code></li>
        <li>run <code>npm install -g grunt-cli</code></li>
        <li>run <code>npm install</code></li>
        <li>run <code>bower install</code></li>
        <li>then finally run <code>grunt serve</code> and a browser should pop up with the app</li>
    </ul>

    <p>If you encounter any errors then I'll do my best to figure out what's going wrong, but as I only started working with NodeJS, yeoman and bower about a month ago I may not be much help, apologies.  This app also hasn't been tested using Karma (need to learn how to do that!).</p>


    <h3>Contact</h3>
    <h5><strong>Email</strong>: t_heslop[at]hotmail.co.uk</h5>
    <a href="https://twitter.com/_RcappeR" class="twitter-follow-button" data-show-count="false">Follow @_RcappeR</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
