<div class="container">
    <h2>About</h2>
    <p>This web app contains ratings for individual horses who have raced at Gulfstream
        Park from December 2012 onwards.</p>

    <p>Ratings have been created using data collected from a variety of sources. With the data collected,
        the bulk of the work being done using the <strong><a href="http://cran.r-project.org/">R</a></strong>
        programming language and a package I created called <strong>RcappeR</strong>, which will eventually be available on
        <a href="#">github</a> for others to use.  I hope that ratings found here, and posts
        that will walk through my handicapping process will encourage others to use the package, and to share
        with other race fans.</p>

    <p>I have taken advantage of open source software in the creation, storage, saving and presentation of the ratings, and other
        content found in this web app.  The primary software I have used include:</p>
    <ul>
        <li><strong><a href="http://cran.r-project.org/" target="_blank">R</a></strong> - programming language</li>
        <li><strong><a href="http://git-scm.com/" target="_blank">Git</a></strong> - version control,
            <strong><a href="http://github.com" target="_blank">Github</a></strong> also hosts this app</li>
        <li><strong><a href="http://www.mongodb.org/" target="_blank">MongoDB</a></strong> - database</li>
        <li><strong><a href="http://angularjs.org" target="_blank">AngularJS</a></strong> - web app framework</li>
        <li><strong><a href="http://yeoman.io/" target="_blank">Yeoman</a></strong> - web app scaffolding tool,
            uses 2 more open source tools, <a href="http://gruntjs.com/" target="_blank">GruntJS</a> and
            <a href="http://bower.io/" target="_blank">Bower</a></li>
    </ul>

    <p>It was June 2013 that I started to learn R on an my wordpress blog - I didn't know any HTML, or CSS at that point either.
        At the time I had no idea it would open the door to the other technologies I've since attempted to learn and employ.</p>

    <a href="https://twitter.com/_RcappeR" class="twitter-follow-button" data-show-count="false">Follow @_RcappeR</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
