<div class="container">
    <h2>About</h2>
    <p>This web app contains ratings for individual horses who have raced at Gulfstream
        Park from December 2012 onwards.  Ratings have been created using data collected
        from a variety of sources, with the bulk of the work being done using the
        <strong><a href="http://cran.r-project.org/">R</a></strong> programming language and a package
        I created called <strong>RcappeR</strong>, which is available on
        <a href="#">github</a> for others to use.  I hope that ratings found here, and posts
        that will walk through the handicapping process will encourage others to use the package.</p>

    <p>These ratings would not be possible without a number of open source tools, these include:</p>
    <ul>
        <li><strong><a href="http://cran.r-project.org/" target="_new">R</a></strong> - programming language</li>
        <li><strong><a href="http://git-scm.com/" target="_new">Git</a></strong> - version control, <strong><a href="http://github.com" target="_new">Github</a></strong> also hosts this app</li>
        <li><strong><a href="http://www.mongodb.org/" target="_new">MongoDB</a></strong> - database</li>
        <li><strong><a href="http://angularjs.org" target="_new">AngularJS</a></strong> - web app framework</li>
        <li><strong><a href="http://yeoman.io/" target="_new">Yeoman</a></strong> - web app scaffolding tool, uses 2 more open source tools, Grunt and Bower</li>
    </ul>
</div>
