<div class="row">
	<div class="col-sm-4">
		<br>
		<label for="search">Search:</label>
		<input type="text" ng-model="query.horse" id="search" class="form-control" placeholder="filter horses">
		<br>
		<label for="search">Horses per Page:</label>
		<select ng-model="pageSize" ng-options="num for num in [10, 20, 40, 100]"></select>
		<br>
		<p>
			<sub class="text-muted">Use the search box to filter horses by name.  Any horse whose name contains the search term will be kept in the table.</sub>
		</p>
		<p>
			<sub class="text-muted">Use the Horses per Page to limit the number of horses in the table, as there are {{ horses.length }} horses it requires a lot of pagination.</sub>
		</p>
		<p>
			<sub class="text-muted">To view the record of an individual horse, click on the corresponding 'show' link to the left of the horses name.</sub>
		</p>

	</div>
	<div class="col-sm-8">
		<br>
		<table class="table table-condensed table-hover">
			<thead>
				<tr class="rcapper">
					<th>Go to Form</th>
					<th>Horse</th>
					<th>Trainer</th>
					<th>YOB</th>
					<th># races</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="horse in horses | orderBy: predicate: reverse | filter: query | itemsPerPage: pageSize" current-page="currentPage">
					<td>
						<a ui-sref="ratings.horse({ horse_id: '{{ horse._id }}'})">show</a>
					</td>
					<td>{{ horse.horse }}</td>
					<td>{{ horse.trainer }}</td>
					<td>{{ horse.yob }}</td>
					<td>{{ horse.n_races }}</td>
				</tr>
			</tbody>
		</table>
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/directiveViews/dirPagination.tpl.html" max-size="6"></dir-pagination-controls>
	</div>
</div>
