<div class="row">
	<div class="col-sm-12">
		<h1>Blog</h1>

		<p>In this corner of the web app you will find various posts.  Under the Handicapping header will be individual races and the calculation of ratings for that race.  The Race Previews/Reviews will look at individual races, and under the Misc header will be a variety of posts, hopefully including a few interactive visualisations, and tools.  Some of the handicapping posts should also serve as mini-vignettes to the <a href="https://github.com/durtal/RcappeR">RcappeR</a> package.  Each post under the Handicapping header (and most of the Race Previews/Reviews) will be written using the <a href="http://rmarkdown.rstudio.com" target="_blank">rmarkdown</a> package.</p>

		<p class="text-muted">The <code>TRUE</code> statements occasionally seen at the top of a blog post is just the results of querying my MongoDB for race data.</p>
		<br>
	</div>

	<div class="container">
		<div class="col-sm-12">
			<tabset justified="true">
				<tab heading="Handicapping">
					<div class="col-sm-4">
						<h5 class="blog-header">
							<a ui-sref="blog.31-1-15">31/1/15 Race #8</a>
							<span class="blogdetails"> - Allowance Optional Claiming 5f Race</span>
						</h5>
					</div>
				</tab>
				<tab heading="Race Previews/Reviews">
					<div class="col-sm-4">
						<h5 class="blog-header">
							<a ui-sref="blog.7-2-15">2015 Turf Handicap & Donn Handicap (7/2/15)</a>
							<span class="blogdetails"> - Race Review</span>
						</h5>
					</div>
				</tab>
				<tab heading="Misc">
					<div class="col-sm-4">
						<h5 class="blog-header">
							<a ui-sref="blog.zipf_hcp-visualisation">Race Standardisation Visualisation</a>
							<span class="blogdetails"> - interactive visualisation showing method of race standardisation used in creating ratings in this app, and used in <a href="https://github.com/durtal/RcappeR">RcappeR</a> package.</span>
						</h5>
						
						<h5 class="blog-header">
							<a ui-sref="blog.gulfstream-data">Racing Data</a>
							<span class="blogdetails"> - accessing JSON racing data that populates this app/site</span>
						</h5>
					</div>
				</tab>
			</tabset>
		</div>
	</div>
	<div class="col-sm-12">
		<hr>
		<div ui-view></div>

	</div>
</div>
