<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<button class="btn btn-primary" ui-sref="ratings.all">Back to Ratings</button>

			<h1>{{horse.horse | uppercase }}</h1>
			<h5 class="hidden-xs">(id: <strong><a ui-sref="ratings.horse({ horseId: '{{ horse._id }}' })">{{horse._id}}</a></strong>)</h5>
			<h4>TRAINER : <span class="h5">{{ horse.trainer }}</span></h4>
			<h4>YOB: <span class="h5">{{ horse.yob }}</span></h4>
			<h4>Races: <span class="h5">{{ horse.n_races }}</span></h4>
		</div>
		<div class="col-sm-8"></div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="visible-xs hidden-sm hidden-md hidden-lg">
				<table class="table table-condensed rcapper-horse-race-xs">
					<thead>
						<tr>
							<td class="col-xs-2">Date</td>
							<td class="col-xs-4">RaceType</td>
							<td class="col-xs-1 pos" rowspan="2">Pos</td>
							<td class="col-xs-3 horse" rowspan="2">Horse</td>
							<td class="col-xs-2" rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td>Race</td>
							<td>Dist (Surf::Going)</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="hidden-xs visible-sm hidden-md hidden-lg">
				<table class="table table-condensed rcapper-horse-race-sm">
					<thead>
						<tr>
							<td class="col-sm-2">Date</td>
							<td class="col-sm-3">RaceType <span class="text-muted">(Purse)</span></td>
							<td class="col-sm-1 pos" rowspan="2">Pos</td>
							<td class="col-sm-4 horse" rowspan="2">Horse</td>
							<td class="col-sm-1 fintime">FinTime</td>
							<td class="col-sm-1 RRtg" rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td>Race</td>
							<td>Dist <span class="text-muted">(Surf::Going)</span></td>
							<td>FinSpd</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="hidden-xs hidden-sm visible-md hidden-lg">
				<table class="table table-condensed rcapper-horse-race-md">
					<thead>
						<tr>
							<td class="col-md-2">Date</td>
							<td class="col-md-3">RaceType <span class="text-muted">(Purse)</span></td>
							<td class="col-md-1 pos" rowspan="2">Pos</td>
							<td class="col-md-4 horse" rowspan="2">Horse</td>
							<td class="col-md-1 fintime">FinTime</td>
							<td class="col-md-1 RRtg" rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td>Race</td>
							<td>Dist <span class="text-muted">(Surf::Going)</span></td>
							<td>FinSpd</td>
						</tr>
					</thead>
				</table>
			</div>
			<div class="hidden-xs hidden-sm hidden-md visible-lg">
				<table class="table table-condensed rcapper-horse-race-lg">
					<thead>
						<tr>
							<td class="col-lg-1">Date</td>
							<td class="col-lg-2">RaceType <span class="text-muted">(Purse)</span></td>
							<td class="col-lg-3 trainer">Trainer</td>
							<td class="col-lg-1 pos" rowspan="2">Pos</td>
							<td class="col-lg-3 horse" rowspan="2">Horse</td>
							<td class="col-lg-1 fintime">FinTime</td>
							<td class="col-lg-1 RRtg" rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td>Race</td>
							<td>Dist <span class="text-muted">(Surf::Going)</span></td>
							<td class="jockey">Jockey <sup class="text-muted">(clm)</sup></td>
							<td>FinSpd</td>
						</tr>
					</thead>
				</table>
			</div>
			<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
				<single-race-dir ng-repeat="race in races" race="race"></single-race-dir>
			</perfect-scrollbar>
			<hr>
		</div>
	</div>
</div>
