<div class="container">
	<button class="btn btn-primary" ui-sref="ratings.all">Back to Ratings</button>

	<h1>{{horse.horse | uppercase }}</h1>
	<h5 class="hidden-xs">(id: <strong><a href="http://durtal.github.io/gulfstream/#/ratings/horse/{{horse._id}}">{{horse._id}}</a></strong>)</h5>
	<h4>TRAINER : <span class="h5">{{ horse.trainer }}</span></h4>
	<h4>YOB: <span class="h5">{{ horse.yob }}</span></h4>
	<h4>Races: <span class="h5">{{ horse.n_races }}</span></h4>

	<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="visible-xs hidden-sm hidden-md hidden-lg">
				<table class="table">
					<thead>
						<tr>
							<td>Date</td>
							<td>Class | Value</td>
							<td rowspan="2">Pos</td>
							<td rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td>Race</td>
							<td>Dist | Surf</td>
						</tr>
					</thead>
				</table>
				<single-race-dir ng-repeat="race in races" race="race"></single-race-dir>
			</div>
			<div class="hidden-xs visible-sm visible-md visible-lg">
				<table class="table">
					<thead>
						<tr>
							<td class="col-sm-2 col-md-1 col-lg-1"><span class="race-date">Date</span></td>
							<td class="col-sm-4 col-md-3 col-lg-3">Class | Value</td>
							<td class="col-sm-2 col-md-2 col-lg-2 trainer-jockey hidden-sm">Trainer</td>
							<td class="col-sm-1 col-md-1 col-lg-1 runner-pos" rowspan="2">Pos</td>
							<td class="col-sm-3 col-md-3 col-lg-3 runner-horse" rowspan="2">Horse</td>
							<td class="col-sm-1 col-md-1 col-lg-1">Time</td>
							<td class="col-sm-1 col-md-1 col-lg-1 runner-pos" rowspan="2">RRtg</td>
						</tr>
						<tr>
							<td><span class="race-no">Race #</span></td>
							<td>Dist | Surf</td>
							<td class="trainer-jockey hidden-sm">Jockey <sup class="text-muted">claim</sup></td>
							<td>FinSpd</td>
						</tr>
					</thead>
				</table>
				<single-race-dir ng-repeat="race in races" race="race"></single-race-dir>
			</div>
		</div>
	</perfect-scrollbar>
	<hr>
</div>
