<div class="jumbotron">

    <h1>RcappeR<sup><span class="text-muted" style="font-size:15px">beta</span></sup></h1>

    <h2>@ Gulfstream Park</h2>

    <p>
        <a href="https://twitter.com/_RcappeR" class="twitter-follow-button" data-show-count="false">Follow @_RcappeR</a>
    </p>

    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <h4>Performance Ratings for {{ horses.length }} horses</h4>
    <h4>Track Profiles for each course and distance raced over at Gulfstream Park</h4>

</div>
<div class="container rcapper-center-text">
    <div class="col-md-4 col-sm-4">
        <a ui-sref="ratings">
            <button class="btn btn-rcapper">Ratings</button>
        </a>
        <p></p>
        <img src="images/zipf_hcp_eg.png" class="img-responsive img-circle centeredImage rcapper-img-main">
        <p></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <button class="btn btn-rcapper">RcappeR Blog (soon)</button>
        <p></p>
        <img src="images/track_profiles_preview.png" class="img-responsive img-circle centeredImage rcapper-img-main">
        <p></p>
    </div>

    <div class="col-md-4 col-sm-4">
        <a ui-sref="track_profiles">
            <button class="btn btn-rcapper">Track Profiles</button>
        </a>
        <p></p>
        <img src="images/track_profiles_preview.png" class="img-responsive img-circle centeredImage rcapper-img-main">
        <p></p>
    </div>
    <!-- <br>
    <img src="images/zipf_hcp_eg.png" class="img-responsive centeredImage"> -->
</div>
