<div class="row hidden-xs">
    <div class="col-sm-6">
        <h2>{{ date }} <small class="text-muted">(dd/mm/yy)</small></h2>

        <p>There are ratings for runners in <strong>{{ races.length }}</strong> races run on {{ date }}, the histogram to the right displays the performance ratings for these runners.  The table below shows the winners of these races.</p>

        <table class="table table-condensed table-hover rcapper-winners">
            <thead>
                <tr>
                    <td class="trainer">Trainer</td>
                    <td class="jockey">Jockey</td>
                    <td class="horse">Winner</td>
                    <td>RRtg</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="winner in winners">
                    <td class="trainer">{{ winner.trainer }}</td>
                    <td class="jockey">{{ winner.jockey }}</td>
                    <td class="horse">{{ winner.horse }}</td>
                    <td class="RRtg">{{ winner.RRtg | number: 0 }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-sm-6">
        <h2>Ratings Distribution</h2>
        <sub>The range of ratings goes from 0 to 130, the highest rated performance by any horse is Dreaming Of Julia, who rated 129 when winning on the <a ui-sref="ratings.date.race({ raceDate: '30-03-13', raceId: '8' })">30/3/13</a>, performance ratings sometimes drop below 0, but are ignored in these plots.  The strength of a card could be seen via the distribution of ratings; lesser cards, probably midweek containing Maiden Claimers and Claimers, will have a distribution toward the lower end of the range, strong cards, probably Saturdays with plenty of Stakes races, such as the card Dreaming Of Julia ran on, will have a distribution toward the upper end of the histogram.</sub>

        <rcapper-d3-histogram data="ratings" fill="#3D1995" min=0 max=130></rcapper-d3-histogram>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 visible-xs">
        <h3>{{ date }}</h3>

        <p>There are ratings for runners in <strong>{{ races.length }}</strong> races run on {{ date }}, the winners are displayed in the table below, to view an individual race click on the tabs below the table.</p>

        <table class="table table-condensed table-hover rcapper-winners">
            <thead>
                <tr>
                    <td class="trainer">Trainer</td>
                    <td class="horse">Winner</td>
                    <td>RRtg</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="winner in winners">
                    <td class="trainer">{{ winner.trainer }}</td>
                    <td class="horse">{{ winner.horse }}</td>
                    <td class="RRtg">{{ winner.RRtg | number: 0 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>The individual races can be viewed below by selecting the corresponding tabs:</p>
        <ul class="nav nav-pills nav-rcapper">
            <li ui-sref-active="active" ng-repeat="race in races">
                <a ui-sref="ratings.date.race({ raceId: '{{ race.race }}' })">{{ race.race }}</a>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
    </div>
    <div ui-view></div>
</div>
