<div class="container">
    <h1>Ratings</h1>

    <p>Ratings found here belong to horses who have raced at Gulfstream Park from December 2012
    onwards.  Not all horses in that time have been handicapped, but the vast majority ({{ horses.length}}
    to be precise) have been.  For a detailed overview of how the ratings have been arrived at, please see
    the <a ui-sref="ratings.handicappingmethod">Method</a> tab below.</p>

    <p>These ratings are a work in progress, improvements can, and hopefully will, be made.  If you see any
    glaring issues, please highlight them, many eyes make light work (or some such idiom).</p>

    <p>On this page you will find a large list of horses that can be filtered, the name of the horse and its
    year of birth is included.  Once a horse is found you are interested in you can click through and view its
    history of ratings at Gulfstream Park, as well as some other data that might be of interest.</p>

    <small>If anyone knows any <a href="http://d3js.org">D3</a> and/or <a href="http://angularjs.org">AngularJS</a> and wants to contribute, then please do, my email is on the <a ui-sref="about">About</a> page.</small>

    <div class="col-md-12">
        <br>
    </div>

    <ul class="nav nav-pills nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="ratings.all">Gulfstream Ratings</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="ratings.handicappingmethod">Handicapping Method</a>
        </li>
    </ul>
    <br>
    <div ui-view></div>
</div>
