<br>
<div class="col-sm-3">
    <h3>Race #{{ race.race }}</h3>
    <h4><span class="text-muted">Distance:</span> {{ race.details.dist }}f</h4>
    <h4><span class="text-muted">Surface:</span> {{ race.details.surf }} <small class="text-muted">({{ race.conditions.going }})</small></h4>
    <h4><span class="text-muted">RaceType:</span> {{ race.details.race_type }} <small class="text-muted">({{ race.conditions.race_cond }})</small></h4>
    <h5 class="hidden-xs">[{{ race.conditions.cor }}]</h5>
    <h4><span class="text-muted">Purse:</span> {{ race.details.value | currency: '$' }}</h4>

    <hr>

    <p class="text-muted hidden-xs">The text [{{ race.conditions.cor }}] below the RaceType corresponds to a variable named <code>cor</code>, (for 'Category Of Race'), this variable was used in the initialisation of handicap ratings (see <a ui-sref="ratings.handicappingmethod">here</a>), and races with the same <code>cor</code> value will be used to handicap one another.</p>

</div>
<div class="col-md-9 hidden-xs hidden-sm">
    <table class="table table-condensed table-hover rcapper-race">
        <thead>
            <tr>
                <td class="trainer">Trainer</td>
                <td class="jockey">Jockey <sup class="text-muted">claim</sup></td>
                <td>Wgt</td>
                <td>Pos</td>
                <td class="horse">Horse</td>
                <td>FinTime</td>
                <td>FinSpd</td>
                <td>RRtg</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="runner in race.runners">
                <td class="trainer">{{ runner.trainer }}</td>
                <td class="jockey">{{ runner.jockey }} <sup class="text-muted">{{ runner.j_clm }}</sup></td>
                <td>{{ runner.wgt }}</td>
                <td class="pos p{{runner.pos}}">{{ runner.pos }}</td>
                <td class="horse p{{runner.pos}}">{{ runner.horse }}</td>
                <td class="fintime">{{ runner.fintime | number: 2 }}</td>
                <td class="fintime">{{ runner.fs2f | number: 4 }}{{ runner.fs2_5f | number: 4 }}</td>
                <td class="RRtg">{{ runner.RRtg | number: 0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-sm-9 hidden-xs visible-sm">
    <table class="table table-condensed table-hover rcapper-race">
        <thead>
            <tr>
                <td class="trainer">Trainer</td>
                <td>Wgt</td>
                <td>Pos</td>
                <td class="horse">Horse</td>
                <td>FinTime</td>
                <td>FinSpd</td>
                <td>RRtg</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="runner in race.runners">
                <td class="trainer">{{ runner.trainer }}</td>
                <td>{{ runner.wgt }}</td>
                <td class="pos">{{ runner.pos }}</td>
                <td class="horse p{{runner.pos}}">{{ runner.horse }}</td>
                <td class="fintime">{{ runner.fintime | number: 2 }}</td>
                <td class="fintime">{{ runner.fs2f | number: 4 }}{{ runner.fs2_5f | number: 4 }}</td>
                <td class="RRtg">{{ runner.RRtg | number: 0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-xs-12 visible-xs">
    <table class="table table-condensed table-hover rcapper-race">
        <thead>
            <tr>
                <td>Pos</td>
                <td class="horse">Horse</td>
                <td>FinTime</td>
                <td>RRtg</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="runner in race.runners">
                <td>{{ runner.pos }}</td>
                <td class="horse p{{ runner.pos }}">{{ runner.horse }}</td>
                <td>{{ runner.fintime | number: 2 }}</td>
                <td class="RRtg">{{ runner.RRtg | number: 0 }}</td>
            </tr>
        </tbody>
    </table>
</div>
