<div class="container">
    <h1>Track Profiles</h1>

    <p>Track/Distance profiles are available for all race distances at Gulfstream Park.  Some distances race over both turf and dirt, where this is the case, dirt is covered first, turf second, under their own headings.  Subjects for analysis include:</p>

    <ul>
        <li>Draw</li>
        <li>Pace (via Finishing Speed %'s)</li>
        <li>Distance travelled (via Trakus data)</li>
    </ul>

    <p>The content behind each tab is created in <strong>R</strong> using the <a href="http://rmarkdown.rstudio.com" target="_blank">rmarkdown</a> package.  This means content is dynamically created and any analysis (code output, plots) is updated to include the latest data from races.  The <em>Last Updated</em> text is part of the dynamically created document, and will be the date on which the document/report was created.</p>

    <p>Over time I hope to write more detailed, specific, analysis for each distance, moving away from a single template for all distances, but this is a start.  The single template for all distances means language in profiles is quite repetitive, however the data behind the profiles, fuelling the plots and bold sections will be unique to each distance.</p>

    <ul class="nav nav-tabs nav-justified">
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.5f">5f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.5-5f">5.5f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.6f">6f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.6-5f">6.5f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.7f">7f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.7-5f">7.5f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.8f">8f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.8-5f">8.5f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.9f">9f</a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="track_profiles.11-12f">11f, 11.5f, 12f</a>
        </li>
    </ul>

    <div ui-view></div>

</div>
